/* MAP */

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
}

.infoWindow {
  width: 100%;
  height: 300px;
}

/* NAVBAR */

.searchBar {
  margin-top: -5px;
  border-bottom: 0px;
  width: 230px;
}


/* MAP BUTTONS */

#GeoButton{
  position:absolute;
  z-index: 99;

  left: 20px;
  bottom: 30px;
  width: 50px;
  height: 50px;

  font-size: 30px;
  color: DimGray;  
}

/* FONTS */

@font-face {
  font-family: 'skinny';
  src: url('../fonts/skinny.ttc');
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; 
}

/* MENUS */

.rightMenu {
  background-color: black;
}


