/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
}

/*.geoLocate {
  position: absolute;
  bottom: 50px;
  left: 15px;
}*/

/*#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis; 
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  Regular padding-left + 1.
  width: 401px; 
}*/

/* MENUS */

.rightMenu {
  background-color: rgb(50,50,50);
}

.mapCanvas {
  margin-top: 43px;
}

/* MAP BUTTONS */

#GeoButton{
  position:absolute;
  z-index: 99;

  left: 20px;
  bottom: 30px;
  width: 50px;
  height: 50px;

  font-size: 30px;
  color: DimGray;  
}



